CapstoneProject/CapstoneProject.Server/obj/Debug/net9.0/CapstoneProject.Server.AssemblyInfo.cs
CapstoneProject/CapstoneProject.Server/obj/Debug/net9.0/CapstoneProject.Server.AssemblyInfo.cs
CapstoneProject/.vs/CapstoneProject/DesignTimeBuild/.dtbcache.v2
CapstoneProject/.vs/CapstoneProject/FileContentIndex/3b78931c-adf3-45dc-bcff-06c2bfe0f5f4.vsidx
*.vsidx
*.vsidx
/CapstoneProject/.vs
/CapstoneProject/.vs/CapstoneProject
*.bin
CapstoneProject/.vs/CapstoneProject/FileContentIndex/3b78931c-adf3-45dc-bcff-06c2bfe0f5f4.vsidx
CapstoneProject/CapstoneProject.Server/obj/Debug/net9.0/CapstoneProject.Server.AssemblyInfo.cs
CapstoneProject/CapstoneProject.Server/CapstoneProject.Server.csproj

